.root {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1.25rem;
}

.current-period {
  font-size: 1.25rem;
  font-weight: 700;
}

.buttons-container {
  display: flex;
  gap: 1.25rem;
}
