.container {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}

.dot-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: hsla(from var(--foreground) h s l / 40%);
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: var(--foreground);
}
