.root {
  padding-top: 4rem;

  @media screen and (max-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.carousel {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.period-container {
  gap: 7.5rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: relative;

  @media screen and (max-width: $breakpoint-lg) {
    gap: 2rem;
  }
}

.period-container::before {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-top: 1px solid hsla(from var(--foreground) h s l / 10%);

  @media screen and (max-width: $breakpoint-lg) {
    display: none;
  }
}

.period {
  font-size: 12.5rem;
  font-weight: 700;

  @media screen and (max-width: $breakpoint-lg) {
    font-size: 3.5rem;
  }
}

.period-start-year {
  color: var(--brand-iris);
}

.period-end-year {
  color: var(--brand-fuschia);
}

.period-controls {
  margin-top: 5rem;
  margin-left: 5rem;
}

.events-swiper {
  position: relative;
  margin-top: 3.5rem;

  @media screen and (max-width: $breakpoint-lg) {
    margin-top: 4.75rem;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .events-swiper::before {
    border-top: 1px solid hsla(from var(--foreground) h s l / 10%);
    content: '';
    position: absolute;
    top: -1.25rem;
    left: 0;
    right: 0;
  }
}

.period-dots-indicator {
  margin: auto auto 1.25rem;
}
