.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.icon-button:disabled {
  opacity: 0.5;
}

.icon-button-size-default {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-button-size-large {
  width: 3.125rem;
  height: 3.125rem;
}

.icon-button-variant-filled {
  color: var(--accent);
  box-shadow: 0 0 1rem hsla(from var(--foreground) h s l / 10%);
  background-color: var(--white);
}

.icon-button-variant-outlined {
  color: var(--foreground);
  border: 1px solid hsla(from var(--foreground) h s l / 50%);
  transition:
    opacity 0.3s ease,
    background-color 0.3s ease;
}

.icon-button-variant-outlined:hover {
  background: var(--white);
}
